@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    width: 550px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #21222A;
    color: #fff;
    height: 91px;
    font-weight: 600;
}
header img{
    width: 34px;
    margin-right: 5px;
}
.logo_picture{
    display: flex;
    align-items: center;
    font-size: 22.3px;
    color: #61DAFB;
}


main{
    height: 459px;
    background-color: #282D35;
    background-image: url(./main\ body.png);
    color: #fff;
}
h1{
    font-size: 39px;
    margin: 57px 0 47px 27px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
}
li{
    list-style: none;
    font-weight: 400;
    margin-left: 51px;
}
.list_elipse{
    display: flex;
    justify-content: baseline;
}
#ul_elipse{
    width: 25px;
}
.elipse{
    margin-right: 14px;
    width: 9px;
    height: 9px;
}